@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.ro-margin-l-r-4{
    margin-left: 4px;
    margin-right: 4px;
}

.font-menu{
    font-size: 1.2rem;
}

.ro-footer{
    background-color: #0000000a;
    color: #0000009f;    
}

.ro-nav{
    background-color: #0000000a;
}

.ro-header-pages{
    width: 100%;
    height: 22rem;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.514)), url("/image/header-page.webp");
    background-position: center;
    /* color: #000000; */
}

.ro-header-text{
    width: 100%;
    height: 22rem;   
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.wrap-texto{
    color:white;
    width: 100%;
    justify-items: center
}

/* .ro-group-cards{
    padding: 1rem;
} */

.home-news-container{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.home-news{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #030303;
    align-items: center;
}

.home-ufa{
    background-color: #67adee7e;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.zoom{
    transition: width 2s, height 2s, transform 1s;
}

.zoom:hover{
    transform : scale(.95);
}

.ufa-text{
    background-color: #fdfeffda;
    align-items: center;
    color: #4b91d6ee;

}

.ufa{
    background-color: #4b91d6ee;
    align-items: center;
    color: aliceblue;
}

.institucional{
    background-color: #030303;
    color: white;
}


/*---*/
/* Construyo modificaciones de algunos elementos de Bootstrap*/
/*---*/

.ro-btn-light{
    background-color: #ffffffe1;
    border-color: #0d6efd;
    color:#0d6efd;
}

.ro-float-right {
    float:right;
}

.ro-float-left {
    float:left;
} 

.ro-top-bar {
    padding: .5rem 0;
    background-color: #1d5f9c23;
}

.navbar-collapse{
    flex-basis: 100%;
    flex-grow: 0;
}

.footer-link {
    display: block;
    color: #0d6efd;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }

@media (prefers-reduced-motion: reduce) {
    .footer-link {
      transition: none;
    }
}

.footer-link:hover, .footer-link:focus {
    color: #0a58ca;
}

.footer-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.ro-carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #030303;
    text-align: center;
}




