$tipografia-general: 'Roboto', sans-serif;

$font: 1em;
$font-sm: .85em;
$font-lg: 1.4em;

$color-primary: #462a7a;
$color-secondary: #c52b78;

$color-text-w: #fff;
$color-text-b: black;
$color-text-g: grey;
$color-pink: #c52b78;

$fondo-rosado: #c52b780c;
$fondo-violeta: #6e42c136;
$fondo-blanco: #fff;
