$tipografia-general: 'Roboto', sans-serif;

$font: 1em;
$font-sm: .85em;
$font-lg: 1.4em;

$color-nav: #6f42c1;
$color-primary: #462a7a;
$color-secondary: #c52b78;

$color-text-w: #fff;
$color-text-b: #030303;
$color-text-g: #666;
$color-pink: #c52b78;
$color-verde: #00B49B;
$color-violeta: #6f42c1;
$color-rosa-light: #ceadbe;

$fondo-rosado: #c52b780c;
$fondo-rosa-light: #eca3c80c;
$fondo-violeta: #6e42c136;
$fondo-blanco: #fff;